/* 通用样式 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url('background.jpg'); /* 背景 */
}

h1, p, #center {
  text-align: center;
}

h1 a {
  color: blue; /* 链接颜色 */
  text-decoration: none; /* 去掉下划线 */
}

#center a {
  display: block;
  margin: 10px 0; /* 为链接添加一些间距 */
}

/* 贤者火锅 GIF 设置 */
.sage_gif {
  position: absolute;
  left: 75%;
  top: 25%;
  transform: translateY(-50%);
}

.sage_gif img {
  width: 50%;  /* GIF 大小 */
  height: 50%;
}
/* 壹决走路 GIF 设置 */
.iso_gif {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translateY(-50%);
}

.iso_gif img {
  width: 50%;  /* GIF 大小 */
  height: 50%;
}
/* 保安跳舞 GIF 设置 */
.cypher_gif {
  position: absolute;
  left: 75%;
  top: 75%;
  transform: translateY(-50%);
}

.cypher_gif img {
  width: 50%;  /* GIF 大小 */
  height: 50%;
}
/* 贤者点赞 PNG 设置 */
.sage_png {
  position: absolute;
  left: 15%;
  top: 75%;
  transform: translateY(-50%);
}

.sage_png img {
  width: 50%;  /* GIF 大小 */
  height: 50%;
}
/* 捷风比心 PNG 设置 */
.jett_png {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.jett_png img {
  width: 50%;  /* GIF 大小 */
  height: 50%;
}
/* 奇乐点赞 PNG 设置 */
.kj_png {
  position: absolute;
  left: 15%;
  top: 25%;
  transform: translateY(-50%);
}

.kj_png img {
  width: 50%;  /* GIF 大小 */
  height: 50%;
}

/* 播放器容器 */
.music-player-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;     /* 垂直居中 */
  margin-top: 20px;        /* 与上方内容保持一定间距 */
}

.music-player {
  border: none;
  width: 330px;
  height: 86px;
}